@import url('fonts/fonts.css');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.btn-reset{
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  line-height: 137.69%;
  color: #474955;
}

.search__input::-webkit-search-cancel-button{
  display: none;
}

#root {
  width: 100%;
  height: 100%;
}
form{
  display: flex;
  width: 100%;
}
.App{
  margin: 0 auto;
  max-width: 1232px;
  padding: 23px 77px 12px 77px;
  background: #FFFFFF;
  box-shadow: 0px 4px 27px rgba(230, 231, 234, 0.78);
}

.search__panel{
  max-width: 631px;
  width: 100%;
  background-color: #5a5c66;
  margin-bottom: 15px;
  display: flex;
  padding: 15px 25px;
}

.search__input{
  flex: 0 1 100%;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 137.69%;
  color: #B3B7BF;
}
.search__input::placeholder{
  color: #B3B7BF;
}
.table__header{
  background: #474955;
  box-shadow: 0px 4px 27px rgba(230, 231, 234, 0.78);
  
}
th{
  font-weight: 600;
  font-size: 14px;
  line-height: 137.69%;
  color: #FFFFFF;
}

.table{
  border: none;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.table_items{
  border: 1px solid #E3E6EC;
  border-collapse: collapse;
  margin-bottom: 16px;
}
tbody{
  font-weight: 500;
  font-size: 13px;
  line-height: 137.69%;
  color: #474955;
}
.header__items th div{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px 0px;
}
.header__items th span{
  display: inline-block;
  margin-right: 20px;
}
.header__items th div img{
  transition: all .3s linear;
}
img.active{
  transform: rotate(180deg);
}

.header__items th:not(:first-child){
  width: 45%;
}
td{
  padding: 15px 11px;
}
.header__items > :first-child{
  text-align: center;
}
tbody > tr:not(:first-child){
  border-top: 1px solid #E3E6EC;
}
tbody tr > td:not(:first-child){
  border-left: 1px solid #E3E6EC;
}

.no-data{
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  color: #5a5c66;
  font-weight: 700;
}

.id__name{
  text-align: center;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
}


.page__list{
  display: flex;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 137.69%;
  color: #474955;
}
.page__list > li{
 cursor: pointer;
}
.page__list > li:not(:last-child){
  margin-right: 10px;
}
li.active{
  color: #7EBC3C;
}
